<!DOCTYPE html>

{% load static %}

<html>
<head>
    <title>Flightmate</title>
</head>
<body>
    <h1>Welcome to Flightmate</h1>
    <p>You could search for flight records here or
            <a href="{% url 'mobileapp' %}">preview snapshots of our incoming mobile app in this page</a></p>
    <form action="{% url 'query' %}" method="post">
        {% csrf_token %}
        Airline:
        <select name="airlines">
            <option value="None">---</option>
            {% for a in airline %}
                <option value="{{ a }}">{{ a }}</option>
            {% endfor %}
        </select>
        <br>
        From:
        <select name="departs">
            <option value="None">---</option>
            {% for o in origin %}
                <option value="{{ o }}">{{ o }}</option>
            {% endfor %}
        </select>
        <br>
        To:
        <select name="dests">
            <option value="None">---</option>
            {% for d in dest %}
                <option value="{{ d }}">{{ d }}</option>
            {% endfor %}
        </select>
        <br>
        Departure Date:
        <input type="date" name="depart_date" value="2008-01-03">
        <br>
        <input type="submit" value="Search" style="height:80px; width:80px">
    </form>

    <br>
    <img src="{% static "images/airplane.jpg" %}" alt="no image" height="320"/>
</body>
</html>