<!DOCTYPE html>

{% load static %}

<html>
<head>
    <title>Flightmate</title>
</head>
<body>
<a href="{% url 'index' %}">Go Back</a>
<br><br>
<img src="{% static "images/mobile.png" %}" alt="no image" height="640"/>
</body>
</html>