<!DOCTYPE html>

{% load static %}

<html>
<head>
    <title>Flightmate</title>
</head>
<body>
    <h3>Search Results</h3>
    <a href="{% url 'index' %}">Search Again</a>
    <table border="1">
        <tr>
            <th>Airline</th>
            <th>From</th>
            <th>To</th>
            <th>Departure Date</th>
            <th>Expected Departure Time</th>
            <th>Actual Departure Time</th>
            <th>Departure Delay (MIN)</th>
            <th>Expected Arrival Time</th>
            <th>Actual Arrival Time</th>
            <th>Arrival Delay (MIN)</th>
            <th>Number of Flights</th>
        </tr>
        {% for res in results %}
            <tr>
                <td>{{ res.airline }}</td>
                <td>{{ res.origin }}</td>
                <td>{{ res.dest }}</td>
                <td>{{ res.depart_date }}</td>
                <td>{{ res.depart_time_scheduled }}</td>
                <td>{{ res.depart_time_actual }}</td>
                <td>{{ res.dep_delay }}</td>
                <td>{{ res.arrival_time_scheduled }}</td>
                <td>{{ res.arrival_time_actual }}</td>
                <td>{{ res.arr_delay }}</td>
                <td>{{ res.number }}</td>
            </tr>
        {% endfor %}
    </table>

</body>
</html>